* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.scroll-list__wrp {
  width: 360px;
  height: 360px;
  overflow-y: scroll;
  background: linear-gradient(to bottom, #14213d06, #1a1e3a00);
  border-radius: 16px;
  
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-list__wrp::-webkit-scrollbar {
  display: none;
}

.scroll-list__item {
  height: 60px;
  margin: 10px;
  width: 200px;
  background: linear-gradient(to bottom, #3a86ff, #265cc5);
  border-radius: 12px;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, box-shadow 0.2s ease, border 0.2s ease;
  transform: scale(0.1);
  opacity: 0.2;
  border: 2px solid transparent;
}

.scroll-list__item.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.4);
}
